.all-jobs-wrapper {
    width: 100%;
}

/* Pagination Part */
.all-jobs-wrapper .css-1llu0od {
    padding: 35px;
}

.all-jobs-wrapper .css-qpxlqp {
    padding: 7px;
}

.all-jobs-wrapper .css-pdct74-MuiTablePagination-selectLabel,
.all-jobs-wrapper .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar,
.all-jobs-wrapper .css-levciy-MuiTablePagination-displayedRows {
    font-size: 16px;
    font-weight: 700;
}

.all-jobs-wrapper .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    width: 70vw;
    overflow: hidden;
}

.all-jobs-wrapper .css-qpxlqp {
    justify-content: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}

.all-jobs-wrapper .css-16253fi-MuiTablePagination-root .MuiTablePagination-toolbar {
    position: relative;
    padding-left: 10px;
}

.all-jobs-wrapper .css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar .MuiTablePagination-actions {
    margin-left: 0;
    position: absolute;
    right: 0;
    width: 255px;
    display: flex;
    justify-content: space-between;
}

.all-jobs-wrapper .css-1psng7p-MuiTablePagination-spacer {
    flex: none;
}


.all-jobs-wrapper .css-zylse7-MuiButtonBase-root-MuiIconButton-root {
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px #00000033;
    border-radius: 8px;
}

.all-jobs-wrapper .css-zylse7-MuiButtonBase-root-MuiIconButton-root {
    position: relative;
    cursor: pointer;
    width: 120px;
    border: none;
    outline: none;
    padding: 23px 0;
}

/* Default Right and Left Arrow Pagination Sign Deleted */
.all-jobs-wrapper .MuiTablePagination-actions .css-i4bv87-MuiSvgIcon-root {
    display: none;
}

.all-jobs-wrapper .css-zylse7-MuiButtonBase-root-MuiIconButton-root:first-child::before {
    position: absolute;
    content: 'Previous';
    color: #000;
    font-size: 16px;
}

.all-jobs-wrapper .css-zylse7-MuiButtonBase-root-MuiIconButton-root:last-child::before {
    position: absolute;
    content: 'Next';
    color: #000;
    font-size: 17px;
}


.all-jobs-wrapper .css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
    width: 120px;
}


/* Action Title */

.all-jobs-wrapper table th:last-child {
    display: none;
}


/* Table td padding */
.all-jobs-wrapper table td,
.all-jobs-wrapper table th {
    padding: 10px 0;
}

.all-jobs-wrapper table td:first-child,
.all-jobs-wrapper table th:first-child {
    padding: 10px;
}